html, body {
  margin: 0;
  padding: 0;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .header-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    height: 3rem;
    .wrapper {
      background-color: #fcb723;
      color: #fff;
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
      position: fixed;
      width: 100%;
    }
    .logo {
      position: relative;
      padding: .5rem .6rem;
      .logo-text {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
}
