/* You can add global styles to this file, and also import other style files */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

footer {
  font-size: 18px;
  padding: .63rem 1rem;
  background-color: #7c7c7c;
  color: #fff;
}

input {
  border-radius: 0.2rem;
  border: 1px solid #ddd;
  padding: 0.5rem 0.2rem;
}

.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.default-input {
  border-radius: 0.2rem;
  border: 1px solid #ddd;
  padding: 0.5rem 0.2rem;
}

.long-input {
  width: 20rem;
}

.btn {
  border-radius: 0.2rem;
  border: 1px solid #ddd;
  padding: 0.3rem 0.6rem;
  font-size: inherit;
  cursor: pointer;
}
.btn:hover {
  transition: 0.3s;
}
.btn.btn-group {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn.btn-default {
  background-color: #ddd;
  border-color: #ddd;
  color: #bbb;
}
.btn.btn-default:hover {
  background-color: #7c7c7c;
  border-color: #7c7c7c;
}
.btn.btn-green {
  background-color: #0ACD7F;
  border-color: #0ACD7F;
  color: #fff;
}
.btn.btn-blue {
  background-color: #0672FF;
  border-color: #0672FF;
  color: #fff;
}
.btn.btn-light-blue {
  background-color: #1EA4FF;
  border-color: #1EA4FF;
  color: #fff;
}
.btn.btn-light-blue:hover {
  background-color: #1a8edb;
  border-color: #1a8edb;
}
.btn.btn-yellow {
  background-color: #ffd42b;
  border-color: #ffd42b;
  color: #fff;
}
.btn.btn-yellow:hover {
  background-color: #edc528;
  border-color: #edc528;
}
.btn.btn-orange {
  background-color: #FF7B49;
  border-color: #FF7B49;
  color: #fff;
}
.btn.btn-orange:hover {
  background-color: #e86f43;
  border-color: #e86f43;
}
.btn.btn-olive {
  background-color: #6CB41E;
  border-color: #6CB41E;
  color: #fff;
}
.btn.btn-olive:hover {
  background-color: #5c9619;
  border-color: #5c9619;
}
.btn.btn-violet {
  background-color: #A156DD;
  border-color: #A156DD;
  color: #fff;
}
.btn.btn-violet:hover {
  background-color: #8e4cc4;
  border-color: #8e4cc4;
}


